@font-face {
  font-family: Paintball;
  font-weight: bold;
  src: url(paintball.woff);
}

@font-face {
  font-family: Ikamodoki;
  src: url(ikamodoki.woff);
}

@font-face {
  font-family: PottaOne;
  src: url(PottaOne-Regular.woff);
}

* {
  font-family: Paintball, Ikamodoki, PottaOne, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #444;
  color: #eee;
  padding: 24px;
}

main {
  margin: 16px auto;
}

hr {
  margin: 8px auto;
}

button {
  padding: 16px;
  width: 100px;
}

.panel {
  background: #111;
  color: #ddd;
  padding: 8px;
  margin: 16px auto;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.capsule-item {
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 120px;
  margin: 16px;
}

.overlay {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  z-index: 10001;
  width: 50%;
  padding: 1em;
  background: #111;
  text-align: center;
  border-radius: 8px;

  .modal-content {
    margin: 16px auto;
  }
}

.popup {
  animation: modal-popup 0.5s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

.popout {
  animation: modal-popout 0.5s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

@keyframes modal-popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
  }
  80%,
  100% {
    opacity: 1;
  }
}

@keyframes modal-popout {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(40px) scale(0.8);
  }
  80%,
  100% {
    opacity: 0;
  }
}
